.action-entry {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(36, 41, 49);
  box-shadow: -1px 0px 0px 0px rgb(224, 53, 53), 0px 0px 6px 0px rgba(0, 0, 0, 0.28) inset;
  position: relative;
  overflow-x: scroll;
}

.actions-card {
  font-size: 12pt;
}

.action-progress-container {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.28), 0 0 1px 2px rgb(242, 245, 251);
  background-color: transparent;
  border-radius: 7px;
  position: relative;
  height: 13px;
  width: 50%;
  margin-top: 7px;
  margin-bottom: 5px;
}

.action-progress {
  background-color: rgba(86, 221, 145, 0.85);
  border-radius: 7px;
  position: absolute;
  height: 100%;
}
