.player-profile-card {
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  max-width: 60em;
  margin: 2em auto;
  padding: 2em;
}

.player-profile-image {
  border-radius: 5em;
  width: 5em;
}

.player-profile-top {
  display: block;
  margin: 0 auto;
  max-width: 64em;
  justify-content: center;
}

.player-profile-general {
  font-size: 1.2em;
}

.player-profile-username {
  display: block;
  margin-top: 0.8em;
  font-size: 1.2em;
}

.player-profile-joined {
  display: block;
  margin-top: 0.5em;
}

.player-profile-total-scores {
  display: block;
  margin-top: 0.5em;
}

.player-profile-basic {
}

.player-profile-pool-stats {
}

.player-profile-badges {

}

.player-profile-rank {

}

.player-profile-scores {

}

.player-profile-pool {
  display: block;
  font-size: 1.4em;
}

.player-profile-rank-image {
  display: block;
}

.player-profile-pool-rank {
  display: block;
}

.player-profile-pool-max-rank {
  display: block;
}

.player-profile-pool-cr {
  display: block;
}

.player-profile-pool-scores-set {
  display: block;
}

.right-elements {
  float: right;
  margin-right: 1.5em;
}

.player-score-entry {
  display: grid;
  grid-template-columns: 4em 7% 30% 12% 0% auto;
  gap: 1em;
  height: 4em;
  background-color: rgb(13, 13, 14);
  border-radius: 0.7em;
  overflow: hidden;
  margin: 0.5em 0;
}

.player-score-entry:hover {
  background-color: rgb(0, 0, 0);
}

.player-score-entry:hover .score-cover {
  box-shadow: 0.2em 0 0 rgb(0, 153, 219);
}

.score-cover {
  grid-column: 1;
  width: 100%;
  height: 100%;
  box-shadow: 0.2em 0 0 rgb(0, 0, 0);
}

.score-rank {
  grid-column: 2;
  margin: auto 0;
}

.score-song-name {
  grid-column: 3;
  margin: auto 0;
}

.score-difficulty {
  grid-column: 4;
  margin: auto;
}

.score-date {
  display: none;
  grid-column: 5;
  margin: auto;
}

.score-general {
  grid-column: 6;
  margin: auto 2em auto auto;
}

.player-scores-header {
  height: 2.5em;
  text-align: center;
}

.profile-score-sorts {
  display: inline;
  font-size: 1.6em;
  box-shadow: 0px 1px 0px white;
}

.sort-link {
  padding: 0 0.5em;
}

.player-scores-footer {
  height: 2.5em;
}

.rank-history-canvas {
  background-color: rgb(0, 0, 0);
  border-radius: 1em;
  width: 100%;
  height: 14em;
  position: relative;
  z-index: 1;
}

.rank-history-container {
  position: relative;
}

.rank-circle {
  border: 2px solid rgb(0, 153, 219);
  background-color: rgb(0, 0, 0);
  width: 1em;
  height: 1em;
  border-radius: 1em;
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.rank-data {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  padding: 0.5em;
  z-index: 3;
  position: absolute;
  display: none;
  width: 7em;
  font-size: 0.85em;
}

.user-update-button {
  position: absolute;
  top: 2em;
  right: 2em;
}

.player-profile-header-text {
  font-size: 1.6em;
  text-align: center;
}

.player-rank-entry {
  display: grid;
  grid-template-columns: 53% 5.5em auto;
  gap: 1em;
  height: 2.5em;
  background-color: rgb(13, 13, 14);
  border-radius: 0.7em;
  overflow: hidden;
  margin: 0.25em 0;
  font-size: 1.2em;
}

.player-rank-entry:hover {
  background-color: rgb(0, 0, 0);
}

.player-rank-pool {
  margin: auto 2em;
  overflow-x: hidden;
  grid-column: 1;
  white-space: nowrap;
}

.player-rank-rank-img {
  margin: auto 0 auto auto;
  grid-column: 2;
  width: 5em;
}

.player-rank-rank {
  margin: auto 0;
  grid-column: 3;
}

.player-rank-cr {
  margin: auto 0;
  grid-column: 4;
  text-align: left;
  display: none;
}

.player-profile-badge-container {
  display: flex;
  justify-content: center;
  margin: -1em 0;
}

.profile-badge-img {
  width: 8em;
  margin: 1em;
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
}

@media only screen and (min-width: 1020px) {

  .score-date {
    display: block;
  }

  .player-rank-cr {
    display: block;
  }

  .player-score-entry {
    grid-template-columns: 4em 7% 30% 12% 15% auto;
  }

  .player-rank-entry {
    grid-template-columns: 53% 5.5em 12% auto;
  }

  .player-profile-top {
    display: flex;
  }

  .player-profile-basic {
    margin: 2em 2em 2em 0;
    width: 60%;
  }

  .player-profile-pool-stats {
    margin: 2em 0 2em 2em;
    width: 40%;
  }
}
