@font-face {
  font-family: 'aller';
  src: url('/static/Maven Pro/maven_pro_thicc.ttf');
}

body {
  margin: 0px;
  font-family: aller;
  background-color: rgb(13, 13, 14);
  color: rgba(255, 255, 255);
  overflow: hidden;
  height: 100%;
  font-size: 16px;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.6em;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display:inline-block;
}

p {
  margin: 0.2em auto 0.2em auto;
}

.link:hover {
  color: rgb(0, 153, 219);
  transition: color 250ms ease-in-out;
}

.link:after {
  display:block;
  content: '';
  border-bottom: solid 2px rgb(0, 153, 219);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.link:hover:after {
  transform: scaleX(1);
}

.white-link:hover {
  color: rgb(255, 255, 255);
  transition: color 250ms ease-in-out;
}

.white-link:after {
  display:block;
  content: '';
  border-bottom: solid 2px rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}

.white-link:hover:after {
  transform: scaleX(1);
}

.simple-input {
  border: 1px solid transparent;
  height: 2em;
  width: 20em;
  border-radius: 0.5em;
  padding: 1em;
  background-color: rgb(0, 0, 0);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

.simple-input:hover {
  border: 1px solid rgb(255, 255, 255);
}

.highlight {
  color: rgb(0, 153, 219);
}

.navbar-link {
  padding: 0.4em 0.5em;
  margin: 0.1em 0;
  font-size: 2em;
  background-color: rgb(13, 13, 14);
  width: 100%;
}

.hitbloq-logo {
  width: 1.4em;
}

.title {
  position: relative;
  top: -0.2cm;
}

.card {
  background-color: rgba(40, 42, 54, 0.7);
}

.navbar {
  background-color: rgb(0, 153, 219, 0.7);
  font-size: 300%;
  position: fixed;
  width: 100%;
  height: 1.8em;
  z-index: 2;
}

.navbar-contents {
  position: relative;
  width: 20cm;
  max-width: 100%;
  margin: auto;
  display: flex;
}

.navbar-title {
  margin-left: 0.5em;
  margin-top: 0.1em;
}

.navbar-options {
  display: none;
}

.content {
  background-color: rgb(13, 13, 14);
  background-image: url('https://i.imgur.com/9bXtLQR.png');
  padding-top: 5em;
  height: calc(100% - 5em);
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.home-element {
  position: relative;
  animation: fade-in ease-out 2s;
}

.popup-element {
  position:  relative;
  animation: fade-in-raw-delayed ease-out 350ms;
}

.middle-column {
  margin: 0 auto 0 auto;
  width: 25cm;
  font-size: 1em;
  max-width: 90%;
}

.announcement-container {
  display: none;
  padding: 1em;
  max-width: 50em;
  margin: 1em auto;
  background-color: rgb(40, 42, 54);
  box-shadow: 0.5em 0.5em 0px 0px rgb(0, 153, 219);
  text-align: center;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    top: 2vh;
  }
  50% {
    opacity: 0;
    top: 2vh;
  }
  100% {
    opacity: 1;
    top: 0vh;
  }
}

@keyframes fade-in-raw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-raw-delayed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  text-align: center;
  font-size: 1em;
  margin: 0.5cm auto 1cm auto;
}

.empty-button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.dropnav {
  background-color: rgb(40, 42, 54);
  width: 100%;
  position: fixed;
  z-index: 10;
  top: -60%;
  left: 0;
  transition: 0.3s;
  box-shadow: 0 2em 10px 10px rgba(0, 0, 0, 0.5);
}

.menu-button {
  position: fixed;
  top: 0.3em;
  right: 1em;
}

.menu-close-button {
  font-size: 3.3em;
  float: right;
  margin: 0.3em 1em;
}

.icon-button {
  font-size: 2em;
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  transition: all 250ms ease-in-out;
}

.icon-button:hover {
  color: rgb(0, 153, 219);

}

.nav-button-r {
  float: right;
}

.nav-button-l {
  float: left;
}

.general-button {
	border: 1px solid rgb(255, 255, 255);
	background-color: inherit;
	font-size: inherit;
	color: inherit;
	font: inherit;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 4px 4px 0px 0px rgb(0, 0, 0);
}

.general-button:hover {
  transition: all 0.2s;
  background-color: rgb(0, 153, 219);
}

.code-block {
  padding: 0.4em;
  background-color: rgb(13, 13, 14);
  border-radius: 0.3em;
  font-family: monospace, monospace;
  margin: 0.3em 0 0.3em 0;
}

@media only screen and (min-width: 1020px) {
  .content {
    padding-top: 3em;
    height: calc(100% - 3em);
  }

  .navbar-link {
    margin: 0 0.1cm;
    padding: 0 0;
    font-size: inherit;
    background-color: inherit;
    width: inherit;
  }

  .menu-button {
    display: none;
  }

  .navbar {
    background-color: rgba(0, 153, 219, 0.7);
    font-size: 200%;
    position: fixed;
    width: 100%;
    height: 1.4cm;
    z-index: 2;
  }

  .navbar-contents {
    position: relative;
    width: 20cm;
    max-width: 100%;
    margin: auto;
    display: flex;
  }

  .navbar-title {

  }

  .navbar-options {
    font-size: 0.6em;
    margin: 0.5cm 0px auto auto;
    display: block;
  }
}
