.pool-container {
  margin: 1em auto 1em auto;
  padding: 0 0 2em 0;
  font-size: 1.4em;
  max-width: 50em;
  overflow: auto;
}

.pool-card {
  font-size: 0.455em;
}

.map-pool-card {
  margin: 0 auto 1em auto;
}

.pool-description-card {
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  padding: 2em;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.pool-description-container {
  margin-bottom: 1em;
  font-size: 0.85em;
}

.pool-owners-card, .pool-info-card {
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  padding: 2em;
  margin-bottom: 1em;
  font-size: 1.4em;
}

.map-pool-owners-list {
  margin-top: 1em;
  font-size: 0.85em;
}

.pool-info-container {
  margin-top: 1em;
  font-size: 0.75em;
}

.pool-leaderboard-card {
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  padding: 2em;
}

.leaderboard-title {
  font-size: 1.4em;
  text-align: center;
}

.player-leaderboard-entry {
  border-radius: 0.5em;
  background-color: rgb(13, 13, 14);
  margin: 0.25em;
  overflow: hidden;
  height: 2em;
  font-size: 0.8em;
}

.player-leaderboard-entry-content {
  padding-top: 0.5em;
}

.player-leaderboard-entry:hover {
  background-color: rgb(0, 0, 0);
}

.player-leaderboard-entry:hover .leaderboard-pfp {
  box-shadow: 0.2em 0 0 rgb(0, 153, 219);
}

.leaderboard-rank {
  margin: 0 0.5em 0 0.5em;
  width: 2.5em;
  display: inline-block;
}

.leaderboard-cr {
  text-align: center;
  display: inline-block;
  width: 7em;
}

.leaderboard-username {
  display: inline-block;
  position: absolute;
}

.leaderboard-pfp {
  width: 2em;
  float: left;
  margin-right: 0.5em;
  box-shadow: 0.2em 0 0 rgb(0, 0, 0);
}

.right-elements {
  float: right;
  margin-right: 1.5em;
}

.map-pool-leaderboard-links {
  text-align: center;
  margin-top: 1em;
}

.map-pool-card:hover {
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  left: 0;
  top: 0;
}

.pool-feed {
  margin-top: 1em;
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  padding: 2em;
}

.pool-feed-header {
}

.pool-post-card {
  margin-top: 1em;
  background-color: rgb(13, 13, 14);
  border-radius: 0.7em;
  height: 4em;
}

.pool-post-card-content {
  padding: 0.5em;
  padding-left: 6.5em;
  font-size: 70%;
}

.pool-post-card:hover {
  background-color: rgb(0, 0, 0);
}

.song-cover {
  width: 4em;
  border-radius: 0.7em 0em 0em 0.7em;
  float: left;
}

.action-name {
  font-size: 140%;
}

.song-name {
  font-size: 115%;
}

.song-difficulty {
  display: inline;
}

.song-rating {
  display: inline;
}

.action-date {
  font-size: 70%;
  font-style: italic;
  float: right;
  padding-right: 1em;
}

@media only screen and (min-width: 1020px) {
  .pool-card {
    font-size: 0.91em;
  }

  .map-pool-card {
    margin: 0 0 1em 0;
  }

  .pool-owners-card, .pool-info-card {
    font-size: 1em;
  }

  .pool-description-card {
    font-size: 1em;
  }

  .left-pool-column {
    width: 20em;
    float: left;
  }

  .right-pool-column {
    margin-left: 21.5em;
    margin-right: 0.4em;
  }
}
