.map-pools-container {
  width: 80%;
  min-width: 10cm;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.map-pool-card {
  position: relative;
  width: 22em;
  height: 10.7em;
  margin: 1em;
  border-radius: 1em 1em 0cm 0cm;
  box-shadow: 0.4em 0.4em 0 rgb(0, 0, 0);
  left: 0;
  top: 0;
  font-size: 2em;
}

.map-pool-card:hover {
  box-shadow: 0.25cm 0.25cm 0cm rgb(255, 0, 68);
  left: -0.1em;
  top: -0.1em;
}

.map-pool-links {
  font-size: 1.6em;
  padding: 0.3em;
}

.map-pool-link {
  color: inherit;
}

.map-pool-link:hover {
  color: rgb(255, 0, 68);
  transition: all 250ms;
}

.map-pool-links-right {
  float: right;
  display: inline;
  margin-right: 0.2em;
}

.map-pool-cover {
  width: inherit;
  height: 4.4em;
  margin: 0;
  margin-bottom: 1em;
  border-radius: 1em 1em 0cm 0cm;
  box-shadow: 0cm 0.1cm 0.1cm rgba(0, 0, 0, 0.7);
}

.map-pool-title {
  position: absolute;
  left: 50%;
  top: 1.2em;
  font-size: 1.8em;
  text-align: center;
  transform: translate(-50%, -50%);
}

.map-pool-description {
  margin: 0.15cm;
}

@media only screen and (min-width: 1020px) {
  .map-pool-card {
    font-size: 1em;
  }
}
