.profile-page {
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    display: grid;
    height: fit-content;
    row-gap: 1.5em;
    column-gap: 1.5em;
    grid-template-columns: 65% 35%;
    grid-template-rows: 320px auto;
}

/* USER CARD */

.user-card {
    min-width: 400px;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 110px 1fr;
    padding: 1.5rem;
    grid-row: 1;
    grid-column: 1;
}

.user-card .user-info {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.user-update-button {
  grid-row: 1;
  grid-column: 2;
  float: right;
}

.user-rank-img {
  margin-top: 10px;
  width: 120px;
}

.rank-info-rank, .rank-info-peak-rank {
  margin-left: 130px;
}

.user-card .user-info span {
    align-self: center;
    font-size: 16pt;
}

.user-card .picture {
    height: 100px;
    border-radius: 50%;
}

.user-card .rank-info span {
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 8pt;
}

.user-name {
}

/* PROFILE TOP */

.profile-top {
}

/* PROFILE MID */

.profile-mid {
}

/* FETCHPAGE CARD */

.fetchpage-card {
    position: relative;
    height: 150px;
    padding: 1.5rem;
    box-sizing: border-box;
}

.fetchpage-input {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
}

.fetchpage-input input {
    border: 1px solid transparent;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    font-size: 10pt;
    padding: 1rem;
    background-color: rgb(36, 41, 49);
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.16);
    color: rgb(162, 169, 185);
    padding-right: 30px;
}

.fetchpage-input button {
    border: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    right: 13px;
    font-size: 10pt;
    background-color: transparent;
    color: rgb(162, 169, 185);
    outline: none;
}

.fetchpage-input button:hover {
    color: rgb(197, 204, 219);
}

.fetchpage-input input::placeholder {
    color: rgb(162, 169, 185);
}

.fetchpage-input input:hover {
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.30);
}

.fetchpage-input input:focus {
    outline: none;
}

/* RANK GRAPH */

.rank-graph-card {
    box-sizing: border-box;
    padding: 1.5rem;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0px;
}

.rank-graph-title {
    font-size: 16pt;
    font-weight: bold;
    line-height: 2rem;
    width: 100%;
}

.rank-graph {
    width: 100%;
    height: 80%;
    position: relative;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.3) inset;
    background-color: rgb(17, 18, 21);
    border-radius: 7px;
    margin-top: 8px;
}

.rank-canvas {
    width: 100%;
    height: 80%;
}

.rank-line {
    position: absolute;
    top: 0px;
    width: 2px;
    height: 100%;
    background-color: #E03535;
    display: none;
}

.rank-circle {
    position: absolute;
    width: 12px;
    display: none;
    height: 12px;
    border-radius: 9px;
    border: 3px solid #E03535;
    background-color: rgb(45, 53, 65);
}

.rank-graph-info {
    position: absolute;
    width: 120px;
    height: fit-content;
    border: 1px solid rgb(242, 245, 251);
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 4px;
    padding: 5px;
    display: none;
}

.rank-graph-info span {
    display: block;
    width: 100%;
}

.rank-info-global {
    font-size: 10pt;
}

.rank-info-time {
    font-size: 10pt;
    color: #E03535;
}

/* PROFILE SONGS */

.profile-songs {
    float: left;
    padding: 1.5rem;
    height: fit-content;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.profile-songs-table {
    table-layout: fixed;
}

.profile-songs-table td, .profile-songs-table th {
    padding-left: 10px;
}

.profile-songs-table .rank {
    width: 3rem;
}

.profile-songs-table .date-set {
    width: 6rem;
}

.profile-songs-table .score {
    padding-left: 5rem;
}

.profile-songs-table td.song div {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.profile-songs-table td.song span {
    align-self: center;
    overflow: hidden;
}

.profile-songs-table td.score div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.profile-songs-table td.score span {
    overflow: hidden;
    white-space: nowrap;
}

.profile-songs-table .song-table-difficulty {
    width: 6rem;
}
.profile-songs-table td.song-table-difficulty {
    font-size: 12px;
    font-weight: bold;
}

.profile-songs-table .accuracy {
    font-size: 11pt;
}

.profile-sort-container {
  padding: 24px 0px 1rem 0px;
  margin: -24px -24px 1.2rem -24px;
  border-radius: 7px 7px 0px 0px;
  background-image: linear-gradient(20deg, rgba(120, 165, 230, 0.3), rgba(200, 200, 255, 0));
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.3);
}

.profile-sort {
  width: fit-content;
  height: 2.2rem;
  margin: 0px auto 0 auto;
}

.profile-sort-link {
  text-decoration: none;
  font-size: 14pt;
  padding: 0px 1rem 0.5rem 1rem;
  margin: 0px -3px 0px -3px;
  box-shadow: 0px 1px 0px 0px rgb(242, 245, 251);
}

.profile-sort-link:hover {
  box-shadow: 0px 2px 0px 0px #E03535;
}

@media (max-width: 11in) {
  .rank-graph-card {
      display: none;
  }
  .user-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
