.song-table {
    color: rgb(242, 245, 251);
    width: 100%;
    color: rgb(242, 245, 251);
    border-spacing: 0;
}

.song-table th {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(242, 245, 251);
}

.song-table td {
    padding: 10px 8px;
    border-bottom: 1px solid rgb(242, 245, 251);
}

.song-table-difficulty td {
    font-size: 12px;
    font-weight: bold;
}

.song-table .picture {
    display: table-cell !important;
    justify-content: right;
}

.song-table img {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.3);
}

.song-table-item:hover {
    background-color: rgb(55, 63, 77);
}
