<div class="main">
	<div class="card plain-card overlayed-card">
		<h2>About</h2><p>Hitbloq is a competitive ranking service for Beat Saber. Our goal is to provide a leaderboard and ranking system that anybody can use to create their own ranked ladders with a map pool of their choice. At the moment, Hitbloq is effectively an extension to <a href="https://scoresaber.com">Score Saber</a> since we run off of their data. Any scores on Score Saber can be imported into Hitbloq. A large part of Hitbloq is the <a href="https://discord.gg/pxWwtWJ">Hitbloq Discord</a>. The Discord server is a space for suggestions and discussion while also being the location the voting and ranking processes for the main map pool take place.<br><br>
		<h2>Contributors</h2></p>
		<table>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/w4VZgyM.png">
				</div>
				<div class="div-92">
					<h2>DaFluffyPotato</h2>
					<p>Front End, Back End, Algorithms, Old Hitbloq Bot, Coordination</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/eMzwaqm.png">
				</div>
				<div class="div-92">
					<h2>ZilianTheGreat</h2>
					<p>Front End</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ac/ac083299806d2b0d6e5c30c33582e78e12f09b19_full.jpg">
				</div>
				<div class="div-92">
					<h2>Drakonno</h2>
					<p>Advice, Old Hitbloq Bot</p>
				</div>
			</div>
		</table>
		<br>
		Contact at dafluffypotatodev[at]gmail[dot]com
	</div>
</div>
