<div class="main">
	<div class="card plain-card overlayed-card">
		<h2>About</h2><p>Hitbloq is a competitive ranking service for Beat Saber. Our goal is to provide a leaderboard and ranking system that anybody can use to create their own ranked ladders with a map pool of their choice. At the moment, Hitbloq is effectively an extension to <a href="https://scoresaber.com">ScoreSaber</a> since we run off of their data. Any scores on ScoreSaber can be imported into Hitbloq. A large part of Hitbloq is the <a href="https://discord.gg/pxWwtWJ">Hitbloq Discord</a>. The Discord server is a space for suggestions and discussion while also being the location the voting and ranking processes for the main map pool take place.</p><br><br>
		<h2>FAQ</h2>
		<h3>Do I need to use a mod?</h3>
		Hitbloq pulls data from ScoreSaber using the ScoreSaber API. It does not take data directly from mods. However, a mod can tell Hitbloq to request an update from ScoreSaber when you finish a map, so it may be convenient to use one.
		<h3>I just beat a song and requested an update, but the score isn't there. What do I do?</h3>
		A few things can happen here. First, it could be that you used a modifier. All scores with modifiers are blocked on Hitbloq (due to some technicalities with how ScoreSaber works). Second, if you're using a mod, the update request after you beat a song could exceed Hitbloq's update request rate limits. If this is the case, wait a couple minutes and request an update from the website. Third, it's possible the action queue is busy with a large user addition and user updates may be delayed for a bit. This should be fixed soon. If all else fails, ping DaFluffyPotato on the Hitbloq Discord server.
		<h3>I added myself, but my old scores didn't show up. What do I do?</h3>
		User additions can take a while due to ScoreSaber's rate limits (a workaround is being developed). If a couple hours have passed and you're still missing scores, please ping DaFluffyPotato in the Hitbloq Discord server.
		<h3>How to I find my Hitbloq page?</h3>
		The easiest way is to use the search bar to search your Steam/Oculus name after your account has been added. Alternatively (if your name doesn't contain any normal characters), you can look for your score on a leaderboard for a map you've played or you can look for youself on a map pool leaderboard.
		<h3>How to I make a map pool?</h3>
		You can make and run your own map pool in the Hitbloq Discord server if you're a <a href="https://patreon.com/hitbloq">$5 patron</a>.
		<h3>How do I get the score banner / profile customization?</h3>
		All <a href="https://patreon.com/hitbloq">patrons</a> can customize their score banner and profiles from the Hitbloq Discord server.
		<br><br>
		<h2>Contributors</h2>
		<table>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/w4VZgyM.png">
				</div>
				<div class="div-92">
					<h2>DaFluffyPotato</h2>
					<p>Owner / Main Developer (Front End, Back End, Bots, Algorithms, Design)</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/M3XdAVX.png">
				</div>
				<div class="div-92">
					<h2>PixelBoom</h2>
					<p>Hitbloq Mod</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/lZXJdqE.png">
				</div>
				<div class="div-92">
					<h2>skalx</h2>
					<p>Hitbloq Mod</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/1ZQib7d.png">
				</div>
				<div class="div-92">
					<h2>Sab</h2>
					<p>Hitbloq Mod</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/eMzwaqm.png">
				</div>
				<div class="div-92">
					<h2>ZilianTheGreat</h2>
					<p>Front End</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ac/ac083299806d2b0d6e5c30c33582e78e12f09b19_full.jpg">
				</div>
				<div class="div-92">
					<h2>Drakonno</h2>
					<p>Advice, Old Hitbloq Bot</p>
				</div>
			</div>
			<div class="div-92-8">
				<div class="div-8">
					<img class="circle-image" src="https://i.imgur.com/LJRKhAT.png">
				</div>
				<div class="div-92">
					<h2>ScoreSaber</h2>
					<p>Base score data for Hitbloq</p>
				</div>
			</div>
		</table>
		<br>
		Contact at dafluffypotatodev[at]gmail[dot]com
	</div>
</div>
