<div class="main">
	<div id="user-addition-card" class="card plain-card overlayed-card">
		<h2>Add User</h2>
		<p>Please only add yourself. There are extremely strict limits on website-based user additions. (The Discord is less strict since it's easier to track.)<br>Since Hitbloq uses ScoreSaber data, you need to have a ScoreSaber account. Enter your ScoreSaber profile URL below.<br><br>Example: <a href="https://scoresaber.com/u/76561198098172449">https://scoresaber.com/u/76561198098172449</a></p>
		<br><br>
		<div id="user-addition" class="user-addition">
			<input id="user-addition-input" class="simple-input" type="text" placeholder="ScoreSaber Profile URL" name="input" autocomplete="off">
			<input class="select-ranked-list" type="button" value="submit" onclick="add_user();">
		</div>
	</div>
</div>
