<div class="map-pool-card card popup-element">
  <a href="/ladder/\@pool_id" style="width: 100%;">
    <span class="map-pool-title">\@title</span>
    <img class="map-pool-cover" src="\@cover">
  </a>
  <div class="map-pool-description">
    \@description
  </div>
  <div class="map-pool-links">
    <i class="fas fa-chart-line"></i>
    <span style="font-size: 0.75em;">\@popularity</span>
    <a class="fas fa-users map-pool-link" href="/ladder/\@pool_id"></a>
    <span style="font-size: 0.75em;">\@player_count</span>
    <div class="map-pool-links-right">
      <a class="fas fa-list map-pool-link" href="/ranked_list/\@pool_id"></a>
      <a class="fas fa-download map-pool-link" href="\@download_url"></a>
    </div>
  </div>
</div>
