<html>
	<head>
    <script src="/static/js/new_main.js"></script>
		\@header
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/new_main.css">
	</head>
	<body class="body">
		<div class="navbar">
			<div class="navbar-contents">
				<div class="navbar-title">
					<img src="https://hitbloq.com/static/hitbloq.png" class="hitbloq-logo">
					<a href="/new" class="title">Hitbloq</a>
				</div>
				<div class="navbar-options">
					<a href="/" class="navbar-link link">Leaderboard</a>
					<a href="/new/map_pools" class="navbar-link link">Map Pools</a>
					<a href="/" class="navbar-link link">Add User</a>
					<a href="https://discord.gg/pxWwtWJ" class="navbar-link link">Discord</a>
					<a href="/new/about" class="navbar-link link">About</a>
				</div>
			</div>
		</div>
		<div class="content">
		  \@content
			<div class="footer home-element">
				created in 2019 by <a href="https://dafluffypotato.com" class="link">DaFluffyPotato</a> | <a href="/" class="link">contact</a> | <a href="https://github.com/DaFluffyPotato/hitbloq" class="link">github</a> | <a href="https://patreon.com/hitbloq" class="link">patreon</a> | <a href="https://twitter.com/hitbloq" class="link">twitter</a>
			</div>
		</div>
	</body>
</html>
