<div class="player-profile-container">
  <div class="player-profile-top">
    <div class="player-profile-card player-profile-basic card popup-element" style="\@player_banner_styling">
      <img class="player-profile-image" src="\@pfp">
      <div class="player-profile-general">
        <span class="player-profile-username">
          <b>\@username</b>
        </span>
        <span class="player-profile-joined">
          <b>Date Joined:</b> \@joined
        </span>
        <span class="player-profile-total-scores">
          <b>Total Scores Set:</b> \@total_scores
        </span>
      </div>
			<button id="user-update-button" class="general-button user-update-button" onclick="manualRefresh();">
				<span id="last-manual-refresh" style="display: none;">\@last_manual_refresh</span>request update
			</button>
    </div>
    <div class="player-profile-card player-profile-pool-stats card popup-element">
      <span class="player-profile-pool">
        <b>\@selected_pool Stats</b>
      </span>
      <img class="player-profile-rank-image" src="\@rank_img">
      <span class="player-profile-pool-rank">
        <b>Global Rank:</b> #\@pool_rank
      </span>
      <span class="player-profile-pool-max-rank">
        <b>Peak Rank:</b> #\@pool_max_rank
      </span>
      <span class="player-profile-pool-cr">
        <b>Competitive Rating:</b> \@pool_crcr
      </span>
      <span class="player-profile-pool-scores-set">
        <b>Scores Set:</b> \@pool_scores_set
      </span>
    </div>
  </div>
  <div class="player-profile-card player-profile-badges card popup-element">
    badges (coming soon)
  </div>
  <div class="player-profile-card player-profile-rank card popup-element">
    <div class="rank-history-container">
      <canvas class="rank-history-canvas" id="rank-history"></canvas>
      <div class="rank-circle" id="rank-circle"></div>
      <div class="rank-data" id="rank-data"></div>
    </div>
  </div>
  <div class="player-profile-card player-profile-scores card popup-element">
    <div class="player-scores-header">
      <button class="icon-button nav-button-l" onclick="window.location.href='\@page_left';">
        <i class="fas fa-arrow-left"></i>
      </button>
      <div class="profile-score-sorts">
        <a href="\@sort_newest" class="sort-link" id="newest-sort-link">Newest</a>
        <a href="\@sort_cr" class="sort-link" id="cr-sort-link">CR</a>
        <a href="\@sort_oldest" class="sort-link" id="oldest-sort-link">Oldest</a>
      </div>
      <button class="icon-button nav-button-r" onclick="window.location.href='\@page_right';">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
    <div id="player-profile-scores">
    </div>
    <div class="player-scores-footer">
      <button class="icon-button nav-button-l" onclick="window.location.href='\@page_left';">
        <i class="fas fa-arrow-left"></i>
      </button>
      <button class="icon-button nav-button-r" onclick="window.location.href='\@page_right';">
        <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
