<div id="player-leaderboard-container" class="player-leaderboard-container card popup-element">
  <div class="player-leaderboard-header">
    <button class="icon-button nav-button-l" onclick="window.location.href='\@page_left';">
      <i class="fas fa-arrow-left"></i>
    </button>
    <h2 class="leaderboard-title">\@shown_name</h2>
    <button class="icon-button nav-button-r" onclick="window.location.href='\@page_right';">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
  <div id="player-leaderboard-entries-container" class="player-leaderboard-entries-container">
  </div>
  <div class="player-leaderboard-footer">
    <button class="icon-button nav-button-l" onclick="window.location.href='\@page_left';">
      <i class="fas fa-arrow-left"></i>
    </button>
    <button class="icon-button nav-button-r" onclick="window.location.href='\@page_right';">
      <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>
