<html>
	<head>
    <script src="/static/js/new_main.js"></script>
		\@header
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/new_main.css">
	</head>
	<body class="body">
		<div class="dropnav" id="dropnav">
			<button class="menu-close-button empty-button" onclick="document.getElementById('dropnav').style.top='-50em';">
				<i class="fas fa-times"></i>
			</button>
			<a href="/map_pools" class="navbar-link link">Map Pools</a><br>
			<a href="/add_user" class="navbar-link link">Add User</a><br>
			<a href="https://discord.gg/pxWwtWJ" class="navbar-link link">Discord</a><br>
			<a href="/about" class="navbar-link link">About</a>
		</div>
		<div class="navbar">
			<div class="navbar-contents">
				<button class="menu-button empty-button" onclick="document.getElementById('dropnav').style.top='0';">
					<i class="fas fa-bars"></i>
				</button>
				<div class="navbar-title">
					<img src="https://hitbloq.com/static/hitbloq.png" class="hitbloq-logo">
					<a href="/" class="title">Hitbloq</a>
				</div>
				<div class="navbar-options">
					<a href="/map_pools" class="navbar-link link">Map Pools</a>
					<a href="/add_user" class="navbar-link link">Add User</a>
					<a href="https://discord.gg/pxWwtWJ" class="navbar-link link">Discord</a>
					<a href="/about" class="navbar-link link">About</a>
				</div>
			</div>
		</div>
		<div class="content" style="\@cont_styling">
			<div id="announcement-container" class="announcement-container"></div>
		  \@content
			<div class="footer home-element">
				created in 2019 by <a href="https://dafluffypotato.com" class="link">DaFluffyPotato</a> | <a href="/" class="link">contact</a> | <a href="https://github.com/DaFluffyPotato/hitbloq" class="link">github</a> | <a href="https://patreon.com/hitbloq" class="link">patreon</a> | <a href="https://twitter.com/hitbloq" class="link">twitter</a>
			</div>
		</div>
	</body>
</html>
