<div class="add-user-container card popup-element">
  <h2>Hitbloq Mod</h2>
  <p>The Hitbloq mod will automatically add your account to Hitbloq upon first startup. <span class="highlight">(Automatic user additions don't work yet. Give it a couple days. Use the section below for now.)</span> You can get it <a class="highlight link" href="https://github.com/PauseChampions/Hitbloq/releases">here</a>.<br><br>
  <i>Please note that it may take a while for your ScoreSaber scores to fully import!</i><br><br>
  Alternatively, you can use the section below if you don't plan on using the mod.</p>
</div>
<div class="add-user-container card popup-element">
  <h2>Manually Add User</h2>
  <p>Please only add yourself. There are extremely strict limits on website-based user additions. (The Discord is less strict since it's easier to track.)
Since Hitbloq uses Score Saber data, you need to have a Score Saber account. Enter your Score Saber profile URL below.<br><br>
  Example: <a href="https://scoresaber.com/u/76561198098172449" class="highlight link">https://scoresaber.com/u/76561198098172449</a></p>

  <div class="add-user-input-section">
    <input id="user-addition-input" class="simple-input" type="text" placeholder="Score Saber Profile URL" name="input" autocomplete="off">
    <button class="general-button add-user-button" onclick="add_user();">Submit</button>
  </div>
  <div id="user-addition-notification" class="user-addition-notification">
  </div>
</div>
