<div class="purpose-statement">
	<span class="highlight">Hitbloq</span> is a competitive <span class="highlight">Beat Saber</span> service with<br>
	endless map pools where <i class="highlight">anything</i> is rankable.
</div>
<div class="map-pools-info home-element">
	<div class="map-pools-info-contents">
		<h1>Map Pools</h1>
		Map pools are a collection of maps that have an associated <span class="highlight">ranked ladder</span> so you can compete on them. The pool owners have <span class="highlight">full control</span> over the difficulty ratings, the reward curve, and more!
	</div>
	<img class="map-pools-img" src="https://i.imgur.com/jayLLWJ.gif">
</div>
<div class="home-add-user home-element">
	<h1>New Here?</h1>
	Link your ScoreSaber account <a href="https://hitbloq.com/add_user" class="highlight link">here</a>!
</div>
<div class="using-map-pools home-element">
	<img class="map-pools-img" src="https://i.imgur.com/jayLLWJ.gif">
	<div class="using-map-pools-contents">
		<h1>Using The Website</h1>
		Star ratings, CR (competitive rating) rewards, and leaderboards are specific to the map pool you're viewing. Switch your selected map pool <a href="https://hitbloq.com/map_pools" class="highlight link">on the map pools page</a>. Your current selected map pool can be seen on the bottom left.
	</div>
</div>
<div class="home-add-user">
	Join <a href="https://discord.gg/pxWwtWJ" class="highlight link">the Discord</a> to join in with the community! This is where map pools are managed and events are run.
</div>
