<div class="player-profile-container">
  <div class="player-profile-top">
    <div class="player-profile-card player-profile-basic card popup-element">
      <img class="player-profile-image" src="\@pfp">
      <div class="player-profile-general">
        <span class="player-profile-username">
          <b>\@username</b>
        </span>
        <span class="player-profile-joined">
          <b>Date Joined:</b> \@joined
        </span>
        <span class="player-profile-total-scores">
          <b>Total Scores Set:</b> \@total_scores
        </span>
      </div>
    </div>
    <div class="player-profile-card player-profile-pool-stats card popup-element">
      <span class="player-profile-pool">
        <b>\@selected_pool Stats</b>
      </span>
      <img class="player-profile-rank-image" src="\@rank_img">
      <span class="player-profile-pool-rank">
        <b>Global Rank:</b> #\@pool_rank
      </span>
      <span class="player-profile-pool-max-rank">
        <b>Peak Rank:</b> #\@pool_max_rank
      </span>
      <span class="player-profile-pool-cr">
        <b>Competitive Rating:</b> \@pool_crcr
      </span>
      <span class="player-profile-pool-scores-set">
        <b>Scores Set:</b> \@pool_scores_set
      </span>
    </div>
  </div>
  <div class="player-profile-card player-profile-badges card popup-element">
    badges (coming soon)
  </div>
  <div class="player-profile-card player-profile-rank card popup-element">
    rank_history
  </div>
  <div class="player-profile-card player-profile-scores card popup-element" id="player-profile-scores">
  </div>
</div>
