<div class="pool-container">
  <div class="left-pool-column">
    <div class="pool-card popup-element" id="pool-card">
    </div>
    <div class="pool-description-card card popup-element">
      <div class="pool-description-container">
        \@pool_description
      </div>
      <div class="map-pool-desc-links">
        <a class="map-pool-link" href="\@download_url" style="display: block;">
          <i class="fas fa-download"></i>
          Download Playlist
        </a>
        <a class="map-pool-link" href="/ranked_list/\@pool_id" style="display: block;">
          <i class="fas fa-list"></i>
          View Ranked List
        </a>
      </div>
    </div>
    <div class="pool-owners-card card popup-element">
      Owners
      <div class="map-pool-owners-list">
        \@owners
      </div>
    </div>
    <div class="pool-info-card card popup-element">
      Info
      <div class="pool-info-container">
        Created: \@creation_date<br>
        Popularity: \@popularity<br>
        Views: \@views<br>
        Ranked Maps: \@ranked_maps<br>
        Accumulation Constant: \@accumulation_constant<br><br>
        Curve Data:
        <div class="code-block">
          \@curve_data
        </div>
      </div>
    </div>
  </div>
  <div class="right-pool-column">
    <div class="pool-leaderboard-card card popup-element">
      <div class="leaderboard-title">\@shown_name Leaderboard</div>
      <div class="leaderboard-contents" id="leaderboard-contents">
      </div>
      <div class="map-pool-leaderboard-links">
        <a class="map-pool-link" href="/ladder/\@pool_id">
          <i class="fas fa-users"></i>
          View Full Leaderboard
        </a>
      </div>
    </div>
  </div>
</div>
