<div class="middle-column popup-element">
  <h1>About</h1>
  Hitbloq is a competitive ranking service for Beat Saber. Our goal is to provide a leaderboard and ranking system that anybody can use to create their own ranked ladders with a map pool of their choice. At the moment, Hitbloq is effectively an extension to Score Saber since we run off of their data. Any scores on Score Saber can be imported into Hitbloq.
  <h1>Fun Stats</h1>
  <div class="about-stats">
    Website Views: <b>\@website_views</b><br>
    API Requests: <b>\@api_requests</b><br>
    Users: <b>\@users</b><br>
    Scores: <b>\@scores</b><br>
    Leaderboards: <b>\@leaderboards</b><br>
    Pools: <b>\@pools</b><br>
    New Users (24h): <b>\@new_users</b><br><br>
  </div>
  <h1>Contributors</h1>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/gathAhD.png">
    <div class="contributor-text">
      <h2><a href="https://twitter.com/DaFluffyPotato" class="link highlight">DaFluffyPotato</a></h2>
      <p>Owner, Website, Data Magic, Discord Bots, Design</p>
    </div>
  </div>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/RgG52fU.png">
    <div class="contributor-text">
      <h2><a href="https://twitter.com/PixelB00m" class="link highlight">PixelBoom</a></h2>
      <p>Hitbloq Mod</p>
    </div>
  </div>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/lZXJdqE.png">
    <div class="contributor-text">
      <h2><a href="https://twitter.com/skalx2" class="link highlight">skalx</a></h2>
      <p>Hitbloq Mod</p>
    </div>
  </div>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/1ZQib7d.png">
    <div class="contributor-text">
      <h2><a href="https://twitter.com/SaboobooBS" class="link highlight">Sab</a></h2>
      <p>Hitbloq Mod</p>
    </div>
  </div>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/LJRKhAT.png">
    <div class="contributor-text">
      <h2><a href="https://twitter.com/ScoreSaber" class="link highlight">ScoreSaber</a></h2>
      <p>Base Score Data for Hitbloq</p>
    </div>
  </div>
  <h1>Alpha Contributors</h1>
  <i>Code no longer in use, but they helped get things started.</i>
  <div class="contributor">
    <img class="contributor-image" src="https://i.imgur.com/eMzwaqm.png">
    <div class="contributor-text">
      <h2>ZilianTheGreat</h2>
      <p>Front End</p>
    </div>
  </div>
  <div class="contributor">
    <img class="contributor-image" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ac/ac083299806d2b0d6e5c30c33582e78e12f09b19_full.jpg">
    <div class="contributor-text">
      <h2>Drakonno</h2>
      <p>Discord Bot Development, Design Advice</p>
    </div>
  </div>
</div>
