<div class="purpose-statement">
	<span class="highlight">Hitbloq</span> is a competitive <span class="highlight">Beat Saber</span> service with<br>
	endless map pools where <i class="highlight">anything</i> is rankable.
</div>
<div class="map-pools-info home-element">
	<div class="map-pools-info-contents">
		<h1>Map Pools</h1>
		Map pools are a collection of maps that have an associated <span class="highlight">ranked ladder</span> so you can compete on them. The pool owners have <span class="highlight">full control</span> over the difficulty ratings, the reward curve, and more!
	</div>
	<img class="map-pools-img" src="https://i.imgur.com/umZruaP.png">
</div>
<div class="home-add-user home-element">
	<h1>New Here?</h1>
	Link your ScoreSaber/BeatLeader account <a href="/add_user" class="highlight link">here</a>!
</div>
<div class="using-map-pools home-element">
	<img class="mod-img" src="https://i.imgur.com/qYTuTRZ.png">
	<div class="using-map-pools-contents">
		<h1>Hitbloq Mod</h1>
		Hitbloq has a <a href="https://github.com/PauseChampions/Hitbloq/releases" class="highlight link">mod</a> that provides in-game leaderboards and automatic profile refreshes. Since Hitbloq runs off of <a href="https://scoresaber.com/" class="highlight link">ScoreSaber</a> and <a href="https://www.beatleader.xyz/" class="highlight link">BeatLeader</a> data, the Hitbloq mod isn't required.<br><br><a href="https://github.com/PauseChampions/Hitbloq/releases" class="highlight link">Download it here!</a>
	</div>
</div>
<div class="home-add-user home-element">
	Join <a href="https://discord.gg/pxWwtWJ" class="highlight link">the Discord</a> to join in with the community! This is where map pools are managed and events are run.
</div>
