<div class="main" style="\@profile_background_css">
	<div class="profile-page">
		<div class="card user-card overlayed-card" style="\@profile_banner_css">
			<div class="user-info">
				<img class="picture" src="\@player_pic">
				<span class="user-name"><b>\@player_name</b></span>
				<img class="user-rank-img" src="/static/ranks/default/\@player_tier_img.png">
			</div>
			<div class="user-update-button">
				<button id="user-update-button" class="general-button user-update-button" onclick="manualRefresh();">
					<span id="last-manual-refresh" style="display: none;">\@last_manual_refresh</span>request update
				</button>
			</div>
			<div class="rank-info">
				<span class="rank-info-rank"><b>Global Rank:</b> #\@player_rank</span>
				<span class="rank-info-peak-rank"><b>Peak Rank:</b> #\@peak_rank</span>
				<span><b>Scores Set:</b> \@scores_set (\@ranked_scores_set)</span>
				<span><b>Competitive Rating:</b> \@player_crcr</span>
				<span><b>Date Joined:</b> \@date_joined</span>
			</div>
		</div>
		<div class="card rank-graph-card overlayed-card">
			<span class="rank-graph-title">Rank History:</span>
			<div class="rank-graph">
				<canvas class="rank-canvas"></canvas>
				<div class="rank-line"></div>
				<div class="rank-circle"></div>
				<div class="rank-graph-info">
					<span class="rank-info-global"></span>
					<span class="rank-info-time"></span>
				</div>
			</div>
		</div>
		<div class="card profile-songs">
			<div class="profile-sort-container">
				<div class="profile-sort">
					<a class="profile-sort-link" href="\@sort_newest_link" style="\@sort_newest_style">Newest</a>
					<a class="profile-sort-link" href="\@sort_cr_link" style="\@sort_cr_style">CR</a>
					<a class="profile-sort-link" href="\@sort_oldest_link" style="\@sort_oldest_style">Oldest</a>
				</div>
			</div>
			<table class="song-table profile-songs-table">
				<thead class="song-table-header">
					<th class="rank">Rank</th>
					<th class="song">Song</th>
					<th class="song-table-difficulty">Difficulty</th>
					<th class="date-set">Date</th>
					<th class="score">Score</th>
				</thead>
				<tbody>
					\@played_songs
				</tbody>
			</table>
			<div class="leaderboard-footer">
				<button class="nav-button nav-right" onclick="window.location.href = '\@next_page';"><i class="fas fa-arrow-right"></i></button>
				<button class="nav-button nav-left" onclick="window.location.href = '\@last_page';"><i class="fas fa-arrow-left"></i></button>
			</div>
		</div>
	</div>
</div>
<script>var rankHistory = [ \@rank_history ];</script>
<script src="/static/js/profiles.js"></script>
