<div class="main">
	<div class="card ranked-list-card overlayed-card">
		<div class="leaderboard-header">
			<button class="nav-button nav-right" onclick="window.location.href = '\@next_page';"><i class="fas fa-arrow-right"></i></button>
			<button class="nav-button nav-left" onclick="window.location.href = '\@last_page';"><i class="fas fa-arrow-left"></i></button>
		</div>
		\@ranked_lists
		<div class="leaderboard-footer">
			<button class="nav-button nav-right" onclick="window.location.href = '\@next_page';"><i class="fas fa-arrow-right"></i></button>
			<button class="nav-button nav-left" onclick="window.location.href = '\@last_page';"><i class="fas fa-arrow-left"></i></button>
		</div>
	</div>
</div>
